In [11]:
#Imports
import pandas as pd
import numpy as np

In [9]:
# Load data from year 2015 to 2022 individually
from google.colab import files
uploaded = files.upload()

Saving 2022.csv to 2022.csv

In [154]:
# Create dataframe from year 2015 to 2021
happiness_2015_df = pd.read_csv('2015.csv')
happiness_2016_df = pd.read_csv('2016.csv')
happiness_2017_df = pd.read_csv('2017.csv')
happiness_2018_df = pd.read_csv('2018.csv')
happiness_2019_df = pd.read_csv('2019.csv')
happiness_2020_df = pd.read_csv('2020.csv')
happiness_2021_df = pd.read_csv('2021.csv')

In [155]:
# Add column 'year' to each dataframe
happiness_2015_df['year'] = '2015'
happiness_2016_df['year'] = '2016'
happiness_2017_df['year'] = '2017'
happiness_2018_df['year'] = '2018'
happiness_2019_df['year'] = '2019'
happiness_2020_df['year'] = '2020'
happiness_2021_df['year'] = '2021'

In [156]:
# Check all dataframes
display(happiness_2015_df.head(2))
display(happiness_2016_df.head(2))
display(happiness_2017_df.head(2))
display(happiness_2018_df.head(2))
display(happiness_2019_df.head(2))
display(happiness_2020_df.head(2))
display(happiness_2021_df.head(2))

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,year
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,...,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,2020
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,...,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2020

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,year
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,...,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,2021
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,...,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2021

In [157]:
# Data cleaning
# === Year 2015 ===
# Drop columns
happiness_2015_df = happiness_2015_df.drop(['Region','Standard Error','Dystopia Residual','Family'],axis=1)

# Rename column name
happiness_2015_df = happiness_2015_df.rename(columns={'Country':'Country name' ,'Happiness Rank': 'RANK', 'Happiness Score':'Happiness score','Economy (GDP per Capita)':'GDP per capita','Trust (Government Corruption)':'Perceptions of corruption',
                                                      'Health (Life Expectancy)':'Healthy life expectancy'})

# === Year 2016 ===
# Drop columns
happiness_2016_df = happiness_2016_df.drop(['Region','Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual','Family'],axis=1)

# Rename column name
happiness_2016_df = happiness_2016_df.rename(columns={'Country':'Country name', 'Happiness Rank': 'RANK', 'Happiness.Score':'Happiness score','Economy (GDP per Capita)':'GDP per capita','Trust (Government Corruption)':'Perceptions of corruption',
                                                      'Health (Life Expectancy)':'Healthy life expectancy','Happiness Score':'Happiness score'})


# === Year 2017 ===
# Drop columns
happiness_2017_df = happiness_2017_df.drop(['Whisker.high','Whisker.low','Dystopia.Residual','Family'],axis=1)

# Rename column name
happiness_2017_df = happiness_2017_df.rename(columns={'Country':'Country name','Happiness.Rank': 'RANK', 'Happiness.Score':'Happiness score','Economy..GDP.per.Capita.':'GDP per capita','Health..Life.Expectancy.':'Healthy life expectancy',
                                                      'Trust..Government.Corruption.':'Perceptions of corruption'})


# === Year 2018 ===
# Drop columns
happiness_2018_df = happiness_2018_df.drop(['Social support'],axis=1)

# Rename column name
happiness_2018_df = happiness_2018_df.rename(columns={'Overall rank': 'RANK', 'Country or region':'Country name','Score':'Happiness score','Freedom to make life choices':'Freedom'})

# === Year 2019 ===
# Drop columns
happiness_2019_df = happiness_2019_df.drop(['Social support'],axis=1)

# Rename column name
happiness_2019_df = happiness_2019_df.rename(columns={'Overall rank': 'RANK', 'Country or region':'Country name','Score':'Happiness score','Freedom to make life choices':'Freedom'})


# === Year 2020 ===
# Add rank
happiness_2020_df.insert(0, 'RANK',happiness_2020_df.index + 1)

# Drop columns
happiness_2020_df = happiness_2020_df.drop(['Regional indicator','Logged GDP per capita','upperwhisker','lowerwhisker','Healthy life expectancy','Standard error of ladder score','Freedom to make life choices','Dystopia + residual',
                                            'Explained by: Social support','Ladder score in Dystopia','Generosity','Perceptions of corruption','Social support'],axis=1)

# Rename column name
happiness_2020_df = happiness_2020_df.rename(columns={'Ladder score':'Happiness score','Explained by: Generosity':'Generosity','Explained by: Freedom to make life choices':'Freedom','Explained by: Perceptions of corruption':'Perceptions of corruption',
                                                      'Explained by: Log GDP per capita':'GDP per capita','Explained by: Healthy life expectancy':'Healthy life expectancy',})

# === Year 2021 ===
# Add rank 
#happiness_2021_df['RANK'] = happiness_2021_df.index + 1
happiness_2021_df.insert(0, 'RANK',happiness_2021_df.index + 1)

# Drop columns
happiness_2021_df = happiness_2021_df.drop(['Regional indicator','upperwhisker','lowerwhisker','Logged GDP per capita','Healthy life expectancy','Standard error of ladder score','Freedom to make life choices','Dystopia + residual',
                                            'Explained by: Social support','Ladder score in Dystopia','Generosity','Perceptions of corruption','Social support'],axis=1)

# Rename column name
happiness_2021_df = happiness_2021_df.rename(columns={'Country or region': 'Country name', 'Ladder score':'Happiness score', 'Explained by: Generosity':'Generosity','Explained by: Freedom to make life choices':'Freedom',
                                                      'Logged GDP per capita':'GDP per capita','Explained by: Perceptions of corruption':'Perceptions of corruption','Explained by: Log GDP per capita':'GDP per capita',
                                                      'Explained by: Healthy life expectancy':'Healthy life expectancy',})

In [158]:
# Check all dataframes after data cleaning
display(happiness_2015_df.head(2))
display(happiness_2016_df.head(2))
display(happiness_2017_df.head(2))
display(happiness_2018_df.head(2))
display(happiness_2019_df.head(2))
display(happiness_2020_df.head(2))
display(happiness_2021_df.head(2))

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,Denmark,1,7.526,1.44178,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,0.86303,0.58557,0.41203,0.28083,2016

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,Norway,1,7.537,1.616463,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,0.792566,0.626007,0.355280,0.400770,2017

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,0.861,0.686,0.286,0.340,2018

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,0.996,0.592,0.252,0.410,2019

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.8087,1.285190,0.961271,0.662317,0.159670,0.477857,2020
1,2,Denmark,7.6456,1.326949,0.979333,0.665040,0.242793,0.495260,2020

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.842,1.446,0.741,0.691,0.124,0.481,2021
1,2,Denmark,7.620,1.502,0.763,0.686,0.208,0.485,2021

In [162]:
# Concatinate all dataframe
happiness_df = pd.concat([happiness_2015_df,happiness_2016_df,happiness_2017_df,happiness_2018_df,happiness_2019_df,happiness_2020_df,happiness_2021_df], axis=0)

# Reset index
happiness_df = happiness_df.reset_index()

In [164]:
# Confirm dataframe
display(happiness_df.head())
display(happiness_df.tail())

,index,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015

,index,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
1079,144,Lesotho,145,3.512,0.451,0.007,0.405,0.015,0.103,2021
1080,145,Botswana,146,3.467,1.099,0.340,0.539,0.088,0.027,2021
1081,146,Rwanda,147,3.415,0.364,0.407,0.627,0.493,0.227,2021
1082,147,Zimbabwe,148,3.145,0.457,0.243,0.359,0.075,0.157,2021
1083,148,Afghanistan,149,2.523,0.370,0.126,0.000,0.010,0.122,2021

# Prepare for a model

In [ ]:
happyness_2022_sortedbygdp_df = happyness_2022_df.sort_values(by=['Explained by: GDP per capita'], ascending=False)

happyness_2022_sortedbygdp_df.head(30)

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
5,6,Luxembourg*,"7,404","7,501","7,307","2,042","2,209","1,155","0,790","0,700","0,120","0,388"
26,27,Singapore,"6,480","6,569","6,392","0,932","2,149","1,127","0,851","0,672","0,163","0,587"
12,13,Ireland,"7,041","7,121","6,961","1,743","2,129","1,166","0,779","0,627","0,190","0,408"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
23,24,United Arab Emirates,"6,576","6,660","6,492","1,809","1,998","0,980","0,633","0,702","0,204","0,250"
7,8,Norway,"7,365","7,440","7,290","1,925","1,997","1,239","0,786","0,728","0,217","0,474"
15,16,United States,"6,977","7,065","6,888","2,214","1,982","1,182","0,628","0,574","0,220","0,177"
80,81,Hong Kong S.A.R. of China,"5,425","5,501","5,348","0,642","1,957","0,954","0,942","0,400","0,147","0,383"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
10,11,Austria,"7,163","7,237","7,089","2,148","1,931","1,165","0,774","0,623","0,193","0,329"
13,14,Germany,"7,034","7,122","6,947","2,142","1,924","1,088","0,776","0,585","0,163","0,358"
6,7,Sweden,"7,384","7,454","7,315","2,003","1,920","1,204","0,803","0,724","0,218","0,512"
18,19,Belgium,"6,805","6,890","6,720","2,283","1,907","1,106","0,764","0,492","0,049","0,204"
49,50,Kuwait*,"6,106","6,235","5,977","1,621","1,904","0,983","0,747","0,617","0,087","0,147"
11,12,Australia,"7,162","7,244","7,081","2,011","1,900","1,203","0,772","0,676","0,258","0,341"
25,26,Taiwan Province of China,"6,512","6,596","6,429","2,002","1,897","1,095","0,733","0,542","0,075","0,168"
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
14,15,Canada,"7,025","7,107","6,943","1,924","1,886","1,188","0,783","0,659","0,217","0,368"
24,25,Saudi Arabia,"6,523","6,637","6,409","2,075","1,870","1,092","0,577","0,651","0,078","0,180"
16,17,United Kingdom,"6,943","7,018","6,867","1,967","1,867","1,143","0,750","0,597","0,289","0,329"
19,20,France,"6,687","6,758","6,615","1,895","1,863","1,219","0,808","0,567","0,070","0,266"
20,21,Bahrain,"6,647","6,779","6,514","2,092","1,854","1,029","0,625","0,693","0,199","0,155"
9,10,New Zealand,"7,200","7,279","7,120","1,954","1,852","1,235","0,752","0,680","0,245","0,483"
58,59,South Korea,"5,935","6,021","5,849","1,656","1,851","0,886","0,841","0,414","0,111","0,176"
32,33,Malta,"6,447","6,535","6,359","1,631","1,838","1,169","0,789","0,679","0,174","0,166"
53,54,Japan,"6,039","6,119","5,959","1,487","1,835","1,089","0,866","0,537","0,007","0,218"
30,31,Italy,"6,467","6,570","6,363","2,222","1,834","1,052","0,801","0,412","0,085","0,059"
8,9,Israel,"7,364","7,426","7,301","2,634","1,826","1,221","0,818","0,568","0,155","0,143"