In [119]:
#Imports
import pandas as pd
import numpy as np
from xgboost import XGBRegressor
import xgboost as xgb
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [73]:
# Load data from year 2015 to 2022 individually
from google.colab import files
uploaded = files.upload()

Saving 2022.csv to 2022.csv

In [85]:
# Create dataframe from year 2015 to 2021
happiness_2015_df = pd.read_csv('2015.csv')
happiness_2016_df = pd.read_csv('2016.csv')
happiness_2017_df = pd.read_csv('2017.csv')
happiness_2018_df = pd.read_csv('2018.csv')
happiness_2019_df = pd.read_csv('2019.csv')
happiness_2020_df = pd.read_csv('2020.csv')
happiness_2021_df = pd.read_csv('2021.csv')
happiness_2022_df = pd.read_csv('2022.csv')

In [86]:
# Add column 'year' to each dataframe
happiness_2015_df['year'] = 2015
happiness_2016_df['year'] = 2016
happiness_2017_df['year'] = 2017
happiness_2018_df['year'] = 2018
happiness_2019_df['year'] = 2019
happiness_2020_df['year'] = 2020
happiness_2021_df['year'] = 2021
happiness_2022_df['year'] = 2022

In [87]:
# Check all dataframes
display(happiness_2015_df.head(2))
display(happiness_2016_df.head(2))
display(happiness_2017_df.head(2))
display(happiness_2018_df.head(2))
display(happiness_2019_df.head(2))
display(happiness_2020_df.head(2))
display(happiness_2021_df.head(2))
display(happiness_2022_df.head(2))

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,year
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,...,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,2020
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,...,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2020

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,year
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,...,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,2021
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,...,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2021

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,year
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534",2022
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532",2022

In [88]:
# Data cleaning
# === Year 2015 ===
# Drop columns
happiness_2015_df = happiness_2015_df.drop(['Region','Standard Error','Dystopia Residual','Family'],axis=1)

# Rename column name
happiness_2015_df = happiness_2015_df.rename(columns={'Country':'Country name' ,'Happiness Rank': 'RANK', 'Happiness Score':'Happiness score','Economy (GDP per Capita)':'GDP per capita','Trust (Government Corruption)':'Perceptions of corruption',
                                                      'Health (Life Expectancy)':'Healthy life expectancy'})

# === Year 2016 ===
# Drop columns
happiness_2016_df = happiness_2016_df.drop(['Region','Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual','Family'],axis=1)

# Rename column name
happiness_2016_df = happiness_2016_df.rename(columns={'Country':'Country name', 'Happiness Rank': 'RANK', 'Happiness.Score':'Happiness score','Economy (GDP per Capita)':'GDP per capita','Trust (Government Corruption)':'Perceptions of corruption',
                                                      'Health (Life Expectancy)':'Healthy life expectancy','Happiness Score':'Happiness score'})

# === Year 2017 ===
# Drop columns
happiness_2017_df = happiness_2017_df.drop(['Whisker.high','Whisker.low','Dystopia.Residual','Family'],axis=1)

# Rename column name
happiness_2017_df = happiness_2017_df.rename(columns={'Country':'Country name','Happiness.Rank': 'RANK', 'Happiness.Score':'Happiness score','Economy..GDP.per.Capita.':'GDP per capita','Health..Life.Expectancy.':'Healthy life expectancy',
                                                      'Trust..Government.Corruption.':'Perceptions of corruption'})

# === Year 2018 ===
# Drop columns
happiness_2018_df = happiness_2018_df.drop(['Social support'],axis=1)

# Rename column name
happiness_2018_df = happiness_2018_df.rename(columns={'Overall rank': 'RANK', 'Country or region':'Country name','Score':'Happiness score','Freedom to make life choices':'Freedom'})

# === Year 2019 ===
# Drop columns
happiness_2019_df = happiness_2019_df.drop(['Social support'],axis=1)

# Rename column name
happiness_2019_df = happiness_2019_df.rename(columns={'Overall rank': 'RANK', 'Country or region':'Country name','Score':'Happiness score','Freedom to make life choices':'Freedom'})

# === Year 2020 ===
# Add rank
happiness_2020_df.insert(0, 'RANK',happiness_2020_df.index + 1)

# Drop columns
happiness_2020_df = happiness_2020_df.drop(['Regional indicator','Logged GDP per capita','upperwhisker','lowerwhisker','Healthy life expectancy','Standard error of ladder score','Freedom to make life choices','Dystopia + residual',
                                            'Explained by: Social support','Ladder score in Dystopia','Generosity','Perceptions of corruption','Social support'],axis=1)

# Rename column name
happiness_2020_df = happiness_2020_df.rename(columns={'Ladder score':'Happiness score','Explained by: Generosity':'Generosity','Explained by: Freedom to make life choices':'Freedom','Explained by: Perceptions of corruption':'Perceptions of corruption',
                                                      'Explained by: Log GDP per capita':'GDP per capita','Explained by: Healthy life expectancy':'Healthy life expectancy',})

# === Year 2021 ===
# Add rank 
#happiness_2021_df['RANK'] = happiness_2021_df.index + 1
happiness_2021_df.insert(0, 'RANK',happiness_2021_df.index + 1)

# Drop columns
happiness_2021_df = happiness_2021_df.drop(['Regional indicator','upperwhisker','lowerwhisker','Logged GDP per capita','Healthy life expectancy','Standard error of ladder score','Freedom to make life choices','Dystopia + residual',
                                            'Explained by: Social support','Ladder score in Dystopia','Generosity','Perceptions of corruption','Social support'],axis=1)

# Rename column name
happiness_2021_df = happiness_2021_df.rename(columns={'Country or region': 'Country name', 'Ladder score':'Happiness score', 'Explained by: Generosity':'Generosity','Explained by: Freedom to make life choices':'Freedom',
                                                      'Logged GDP per capita':'GDP per capita','Explained by: Perceptions of corruption':'Perceptions of corruption','Explained by: Log GDP per capita':'GDP per capita',
                                                      'Explained by: Healthy life expectancy':'Healthy life expectancy',})

# === Year 2022 ===
# Add rank 
#happiness_2021_df['RANK'] = happiness_2021_df.index + 1
#happiness_2022_df.insert(0, 'RANK',happiness_2022_df.index + 1)

# Drop columns
happiness_2022_df = happiness_2022_df.drop(['Whisker-high','Whisker-low','Dystopia (1.83) + residual','Explained by: Social support'],axis=1)

# Rename column name
happiness_2022_df = happiness_2022_df.rename(columns={'Country': 'Country name', 'Explained by: Generosity':'Generosity','Explained by: Freedom to make life choices':'Freedom',
                                                      'Explained by: GDP per capita':'GDP per capita','Explained by: Perceptions of corruption':'Perceptions of corruption',
                                                      'Explained by: Healthy life expectancy':'Healthy life expectancy',})

In [89]:
# Check all dataframes after data cleaning
display(happiness_2015_df.head(2))
display(happiness_2016_df.head(2))
display(happiness_2017_df.head(2))
display(happiness_2018_df.head(2))
display(happiness_2019_df.head(2))
display(happiness_2020_df.head(2))
display(happiness_2021_df.head(2))
display(happiness_2022_df.head(2))

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,Denmark,1,7.526,1.44178,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,0.86303,0.58557,0.41203,0.28083,2016

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,Norway,1,7.537,1.616463,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,0.792566,0.626007,0.355280,0.400770,2017

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,0.861,0.686,0.286,0.340,2018

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,0.996,0.592,0.252,0.410,2019

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.8087,1.285190,0.961271,0.662317,0.159670,0.477857,2020
1,2,Denmark,7.6456,1.326949,0.979333,0.665040,0.242793,0.495260,2020

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.842,1.446,0.741,0.691,0.124,0.481,2021
1,2,Denmark,7.620,1.502,0.763,0.686,0.208,0.485,2021

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,"7,821","1,892","0,775","0,736","0,109","0,534",2022
1,2,Denmark,"7,636","1,953","0,777","0,719","0,188","0,532",2022

In [105]:
# Concatinate all dataframe
happiness_df = pd.concat([happiness_2015_df,happiness_2016_df,happiness_2017_df,happiness_2018_df,happiness_2019_df,happiness_2020_df,happiness_2021_df,happiness_2021_df], axis=0, ignore_index=True)

# Sort by Country name and year
happiness_df.sort_values(by=['Country name', 'year'], inplace=True)

# reset index
happiness_df.reset_index(drop=True, inplace=True)

# print the sorted dataframe
# happiness_df.head(60)
#happiness_df['Country name','Happiness score','year'].head(60)
happiness_df.loc[:, ['Country name', 'Happiness score', 'year']]

     Country name  Happiness score  year
0     Afghanistan           3.5750  2015
1     Afghanistan           3.3600  2016
2     Afghanistan           3.7940  2017
3     Afghanistan           3.6320  2018
4     Afghanistan           3.2030  2019
...           ...              ...   ...
1228     Zimbabwe           3.6920  2018
1229     Zimbabwe           3.6630  2019
1230     Zimbabwe           3.2992  2020
1231     Zimbabwe           3.1450  2021
1232     Zimbabwe           3.1450  2021

[1233 rows x 3 columns]

# Choose Top 20 countries from the dataset

In [113]:
# Create dataframe to get mean for each country

# group by country and calculate mean of each column
grouped_df = happiness_df.groupby('Country name').mean()

# sort by country
grouped_df.sort_values(by='Happiness score', ascending=False, inplace=True)

# print the top 20 aggregated dataframe
top_20_countries_df = grouped_df.loc[:,['Happiness score']].head(20).reset_index()

# Show the dataframe
top_20_countries_df

      Country name  Happiness score
0          Finland         7.647712
1          Denmark         7.576950
2      Switzerland         7.532362
3          Iceland         7.520938
4           Norway         7.497125
5      Netherlands         7.424988
6           Sweden         7.334437
7      New Zealand         7.302325
8           Canada         7.273887
9        Australia         7.246225
10         Austria         7.192525
11          Israel         7.144200
12      Costa Rica         7.111300
13      Luxembourg         7.070688
14     Puerto Rico         7.039000
15         Ireland         7.010713
16         Germany         7.003850
17  United Kingdom         6.980313
18   United States         6.979450
19         Belgium         6.892312

In [121]:
# Make a list of top 20 countrie names

# extract the Country name and Happiness score columns
#country_score_df = new_data.loc[:, ['Country name', 'Happiness score']]

# sort by Happiness score in descending order
#sorted_df = country_score_df.sort_values(by='Happiness score', ascending=False)

# reset the index
#sorted_df.reset_index(drop=True, inplace=True)

# extract the Country name column as a list
country_list = top_20_countries_df['Country name'].tolist()

# Create dataframe top 20 countries based on average happiness score from 2015 to 2022
# create a boolean mask based on the Country name column
mask = happiness_df['Country name'].isin(country_list)

# filter the original dataframe using the boolean mask
filtered_df = happiness_df[mask]

# print the filtered dataframe
top_20_happycountries_df = filtered_df[['Country name','Happiness score','year']]

# Show the dataframe
top_20_happycountries_df.head(20)

   Country name  Happiness score  year
44    Australia           7.2840  2015
45    Australia           7.3130  2016
46    Australia           7.2840  2017
47    Australia           7.2720  2018
48    Australia           7.2280  2019
49    Australia           7.2228  2020
50    Australia           7.1830  2021
51    Australia           7.1830  2021
52      Austria           7.2000  2015
53      Austria           7.1190  2016
54      Austria           7.0060  2017
55      Austria           7.1390  2018
56      Austria           7.2460  2019
57      Austria           7.2942  2020
58      Austria           7.2680  2021
59      Austria           7.2680  2021
92      Belgium           6.9370  2015
93      Belgium           6.9290  2016
94      Belgium           6.8910  2017
95      Belgium           6.9270  2018

In [122]:
# encode Country name column using one-hot encoding
onehot_df = pd.get_dummies(top_20_happycountries_df['Country name'])

# combine one-hot encoded features with the Happiness Score and year columns
features_df = pd.concat([onehot_df, top_20_happycountries_df['year'], top_20_happycountries_df['Happiness score']], axis=1)

# split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_df.drop(['Happiness score'], axis=1), features_df['Happiness score'], test_size=0.2, random_state=42)

# create XGBoost model and train on the training set
happy_xgb_model = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)
happy_xgb_model.fit(X_train, y_train)

# evaluate model on the testing set
y_pred = happy_xgb_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.004118359229529831

In [130]:
# encode Country name column using one-hot encoding
onehot_df = pd.get_dummies(top_20_happycountries_df['Country name'])

# combine one-hot encoded features with the year column
features_df = pd.concat([onehot_df, top_20_happycountries_df['year']], axis=1)

# create a new dataframe for the years 2022 to 2025
new_years = pd.DataFrame({'year': [2022, 2023, 2024, 2025]})

# create a cartesian product of the Country names and the new years
new_data = pd.MultiIndex.from_product([top_20_happycountries_df['Country name'].unique(), new_years['year']], names=['Country name', 'year']).to_frame(index=False)

# encode Country name column using one-hot encoding
new_onehot_df = pd.get_dummies(new_data['Country name'])

# combine one-hot encoded features with the year column
new_features_df = pd.concat([new_onehot_df, new_data['year']], axis=1)

# make predictions using the trained model
new_data['Happiness score'] = happy_xgb_model.predict(new_features_df)

# print the predicted Happiness scores for the years 2022 to 2025 keichan
new_data.groupby('Country name').mean().sort_values(by='Happiness score', ascending=False)

                  year  Happiness score
Country name
Finland         2023.5         7.837765
Denmark         2023.5         7.622208
Iceland         2023.5         7.552705
Switzerland     2023.5         7.547064
Netherlands     2023.5         7.463936
Norway          2023.5         7.392706
Sweden          2023.5         7.360565
Luxembourg      2023.5         7.321147
Canada          2023.5         7.290744
New Zealand     2023.5         7.279006
Austria         2023.5         7.270073
Australia       2023.5         7.185828
Israel          2023.5         7.153551
Germany         2023.5         7.150680
Puerto Rico     2023.5         7.091058
Ireland         2023.5         7.086782
Costa Rica      2023.5         7.070205
United Kingdom  2023.5         7.067515
United States   2023.5         6.950125
Belgium         2023.5         6.836106

# Lambda parameters
1. Specify the range of years and pick top 20 countries

In [108]:
onehot_df.head()

,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahrain,...,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
# Confirm dataframe
display(happiness_df.head())
display(happiness_df.tail())

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
1228,Lesotho,145,3.512,0.451,0.007,0.405,0.015,0.103,2021
1229,Botswana,146,3.467,1.099,0.340,0.539,0.088,0.027,2021
1230,Rwanda,147,3.415,0.364,0.407,0.627,0.493,0.227,2021
1231,Zimbabwe,148,3.145,0.457,0.243,0.359,0.075,0.157,2021
1232,Afghanistan,149,2.523,0.370,0.126,0.000,0.010,0.122,2021

In [35]:
# Drop rows that have no data
happiness_df.dropna()

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...
1079,Lesotho,145,3.512,0.45100,0.00700,0.40500,0.01500,0.10300,2021
1080,Botswana,146,3.467,1.09900,0.34000,0.53900,0.08800,0.02700,2021
1081,Rwanda,147,3.415,0.36400,0.40700,0.62700,0.49300,0.22700,2021
1082,Zimbabwe,148,3.145,0.45700,0.24300,0.35900,0.07500,0.15700,2021
1083,Afghanistan,149,2.523,0.37000,0.12600,0.00000,0.01000,0.12200,2021

In [36]:
# Check if there is null value
print(happiness_df.isnull().sum())
print(happiness_df.isna().sum())

Country name                 0
RANK                         0
Happiness score              0
GDP per capita               0
Healthy life expectancy      0
Freedom                      0
Perceptions of corruption    1
Generosity                   0
year                         0
dtype: int64
Country name                 0
RANK                         0
Happiness score              0
GDP per capita               0
Healthy life expectancy      0
Freedom                      0
Perceptions of corruption    1
Generosity                   0
year                         0
dtype: int64

In [37]:
# Look for the specific record that has no value
mask = happiness_df.isnull()

print(happiness_df[mask.any(axis=1)])

             Country name  RANK  Happiness score  GDP per capita  \
489  United Arab Emirates    20            6.774           2.096

     Healthy life expectancy  Freedom  Perceptions of corruption  Generosity  \
489                     0.67    0.284                        NaN       0.186

     year
489  2018

In [38]:
# Print the record whose index is 489
print(happiness_df.loc[489])

Country name                 United Arab Emirates
RANK                                           20
Happiness score                             6.774
GDP per capita                              2.096
Healthy life expectancy                      0.67
Freedom                                     0.284
Perceptions of corruption                     NaN
Generosity                                  0.186
year                                         2018
Name: 489, dtype: object

In [39]:
# Drop record with index 489
happiness_df = happiness_df.drop(489)

In [40]:
display(happiness_df.head())
display(happiness_df.tail())

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
1079,Lesotho,145,3.512,0.451,0.007,0.405,0.015,0.103,2021
1080,Botswana,146,3.467,1.099,0.340,0.539,0.088,0.027,2021
1081,Rwanda,147,3.415,0.364,0.407,0.627,0.493,0.227,2021
1082,Zimbabwe,148,3.145,0.457,0.243,0.359,0.075,0.157,2021
1083,Afghanistan,149,2.523,0.370,0.126,0.000,0.010,0.122,2021

# Build XGBoost model

In [41]:
# Define the year ranges for training and testing data
train_years = [2015, 2016, 2017, 2018] #This is training data range
test_years = [2019, 2020, 2021] #This is testing data range

# Split the data into train and test sets based on year ranges
train_df = happiness_df[happiness_df['year'].isin(train_years)]
test_df = happiness_df[happiness_df['year'].isin(test_years)]

# Define the features and target variable
target = 'Happiness score'
features = ['RANK', 'GDP per capita', 'Healthy life expectancy', 'Freedom', 'Perceptions of corruption', 'Generosity']

# Create the XGBoost model
happiness_model = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)

# Train the model on the training data
# happiness_model.fit(train_df[features], train_df[target])
happiness_xgb_model = happiness_model.fit(train_df[features], train_df[target])

# Make a predictions

In [42]:
# Make predictions for the test data
# test_df['predicted_score'] = happiness_model.predict(test_df[features])
testing_predictions = happiness_xgb_model.predict(test_df[features])
test_df['predicted_score'] = testing_predictions

# Sort the test data by predicted happiness score in descending order
top_20_df = test_df.sort_values(by='predicted_score', ascending=False).head(20)

<ipython-input-42-e23748339487>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['predicted_score'] = testing_predictions

In [50]:
test_df.head(20)

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year,predicted_score
626,Finland,1,7.769,1.340,0.986,0.596,0.393,0.153,2019,7.511456
627,Denmark,2,7.600,1.383,0.996,0.592,0.410,0.252,2019,7.510917
628,Norway,3,7.554,1.488,1.028,0.603,0.341,0.271,2019,7.573804
629,Iceland,4,7.494,1.380,1.026,0.591,0.118,0.354,2019,7.565601
630,Netherlands,5,7.488,1.396,0.999,0.557,0.298,0.322,2019,7.405859
631,Switzerland,6,7.480,1.452,1.052,0.572,0.343,0.263,2019,7.482158
632,Sweden,7,7.343,1.387,1.009,0.574,0.373,0.267,2019,7.311559
633,New Zealand,8,7.307,1.303,1.026,0.585,0.380,0.330,2019,7.442657
634,Canada,9,7.278,1.365,1.039,0.584,0.308,0.285,2019,7.371231
635,Austria,10,7.246,1.376,1.016,0.532,0.226,0.244,2019,7.259702
636,Australia,11,7.228,1.372,1.036,0.557,0.290,0.332,2019,7.281312
637,Costa Rica,12,7.167,1.034,0.963,0.558,0.093,0.144,2019,7.307194
638,Israel,13,7.139,1.276,1.029,0.371,0.082,0.261,2019,7.106627
639,Luxembourg,14,7.090,1.609,1.012,0.526,0.316,0.194,2019,6.928759
640,United Kingdom,15,7.054,1.333,0.996,0.450,0.278,0.348,2019,7.009252
641,Ireland,16,7.021,1.499,0.999,0.516,0.310,0.298,2019,6.907615
642,Germany,17,6.985,1.373,0.987,0.495,0.265,0.261,2019,6.909907
643,Belgium,18,6.923,1.356,0.986,0.473,0.210,0.160,2019,6.877196
644,United States,19,6.892,1.433,0.874,0.454,0.128,0.280,2019,6.883838
645,Czech Republic,20,6.852,1.269,0.920,0.457,0.036,0.046,2019,6.645638

In [54]:
# Display the top 20 happiest countries in 2022 according to the model's predictions
print(test_df.loc[test_df['year'] == 2019, ['Country name','RANK','Happiness score','predicted_score']].head(20))

       Country name  RANK  Happiness score  predicted_score
626         Finland     1            7.769         7.511456
627         Denmark     2            7.600         7.510917
628          Norway     3            7.554         7.573804
629         Iceland     4            7.494         7.565601
630     Netherlands     5            7.488         7.405859
631     Switzerland     6            7.480         7.482158
632          Sweden     7            7.343         7.311559
633     New Zealand     8            7.307         7.442657
634          Canada     9            7.278         7.371231
635         Austria    10            7.246         7.259702
636       Australia    11            7.228         7.281312
637      Costa Rica    12            7.167         7.307194
638          Israel    13            7.139         7.106627
639      Luxembourg    14            7.090         6.928759
640  United Kingdom    15            7.054         7.009252
641         Ireland    16            7.021         6.907615
642         Germany    17            6.985         6.909907
643         Belgium    18            6.923         6.877196
644   United States    19            6.892         6.883838
645  Czech Republic    20            6.852         6.645638

# Predict Future Scores

In [69]:
# Define the features for the new dataset
new_features = ['RANK', 'GDP per capita', 'Healthy life expectancy', 'Freedom', 'Perceptions of corruption', 'Generosity']

# Create a new dataframe for predictions
predictions_df = pd.DataFrame(columns=new_features)

#new_data = pd.DataFrame({'GDP per capita': [1.2], 'Healthy life expectancy': [0.8], 'Freedom': [0.6], 'Perceptions of corruption': [0.1], 'Generosity': [0.2]})
#new_pred = lr_model.predict(new_data)

# Add data for years 2022 to 2025 to the new dataframe
for year in range(2022, 2026):
    new_row = {'RANK': 0, 'GDP per capita': 7.6, 'Healthy life expectancy': 0.996, 'Freedom': 0.592,'Perceptions of corruption': 0.410, 'Generosity': 0.252, 'year':year}
    predictions_df = predictions_df.append(new_row, ignore_index=True)

# Convert relevant columns to numeric datatype
predictions_df[new_features] = predictions_df[new_features].apply(pd.to_numeric)

# Make predictions using the trained XGBoost model
predictions = happiness_model.predict(predictions_df[new_features])

# Add the predictions to the dataframe
predictions_df['predicted_score'] = predictions

<ipython-input-69-271de80df0df>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  predictions_df = predictions_df.append(new_row, ignore_index=True)
<ipython-input-69-271de80df0df>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  predictions_df = predictions_df.append(new_row, ignore_index=True)
<ipython-input-69-271de80df0df>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  predictions_df = predictions_df.append(new_row, ignore_index=True)
<ipython-input-69-271de80df0df>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  predictions_df = predictions_df.append(new_row, ignore_index=True)

In [70]:
predictions_df

,RANK,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year,predicted_score
0,0.0,7.6,0.996,0.592,0.41,0.252,2022.0,7.472158
1,0.0,7.6,0.996,0.592,0.41,0.252,2023.0,7.472158
2,0.0,7.6,0.996,0.592,0.41,0.252,2024.0,7.472158
3,0.0,7.6,0.996,0.592,0.41,0.252,2025.0,7.472158

In [ ]:
# Display the accuracy score for the test dataset.
# accuracy_score(test_df[target], testing_predictions)
mse = mean_squared_error(test_df[target], testing_predictions)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.014258492906534945

In [ ]:
# Display the top 20 happiest countries in 2022 according to the model's predictions
print(top_20_df[['Country name', 'predicted_score','GDP per capita']])

       Country name  predicted_score  GDP per capita
935         Finland         7.707384           1.446
936         Denmark         7.607737           1.502
937     Switzerland         7.556834           1.566
938         Iceland         7.481564           1.482
939     Netherlands         7.458432           1.501
940          Norway         7.420978           1.543
941          Sweden         7.381465           1.478
942      Luxembourg         7.360520           1.751
943     New Zealand         7.288534           1.400
944         Austria         7.265698           1.492
945       Australia         7.261571           1.453
948          Canada         7.112266           1.447
946          Israel         7.103935           1.376
949         Ireland         7.075630           1.644
947         Germany         7.058365           1.480
952  Czech Republic         6.904575           1.370
950      Costa Rica         6.879971           1.134
953   United States         6.879813           1.533
951  United Kingdom         6.864442           1.423
954         Belgium         6.852178           1.463

In [ ]:
# Display the top 20 happiest countries in 2022 according to the model's predictions
#print(top_20_df[['Country name', 'predicted_score','GDP per capita']].sort(by='GDP per capita'))
print(top_20_df[['Country name', 'predicted_score', 'GDP per capita']].sort_values(by='GDP per capita', ascending=False))

       Country name  predicted_score  GDP per capita
942      Luxembourg         7.360520           1.751
949         Ireland         7.075630           1.644
937     Switzerland         7.556834           1.566
940          Norway         7.420978           1.543
953   United States         6.879813           1.533
936         Denmark         7.607737           1.502
939     Netherlands         7.458432           1.501
944         Austria         7.265698           1.492
938         Iceland         7.481564           1.482
947         Germany         7.058365           1.480
941          Sweden         7.381465           1.478
954         Belgium         6.852178           1.463
945       Australia         7.261571           1.453
948          Canada         7.112266           1.447
935         Finland         7.707384           1.446
951  United Kingdom         6.864442           1.423
943     New Zealand         7.288534           1.400
946          Israel         7.103935           1.376
952  Czech Republic         6.904575           1.370
950      Costa Rica         6.879971           1.134

In [ ]:
# ******Test*******
# Define the feature and target variables
X = happiness_df[['GDP per capita', 'Healthy life expectancy', 'Freedom', 'Perceptions of corruption', 'Generosity']]
y = happiness_df['Happiness score']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the linear regression model and fit to the training data
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

# Evaluate the performance of the model on the testing data
y_pred = lr_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean squared error:', mse)
print('R-squared:', r2)

# Use the model to predict happiness score for new data
new_data = pd.DataFrame({'GDP per capita': [1.2], 'Healthy life expectancy': [0.8], 'Freedom': [0.6], 'Perceptions of corruption': [0.1], 'Generosity': [0.2]})
new_pred = lr_model.predict(new_data)
print('Predicted happiness score:', new_pred)

Mean squared error: 0.3463651561502107
R-squared: 0.7068817420190401
Predicted happiness score: [6.31837382]

# Data Preprocessing

In [ ]:
# Find object type data
happiness_df.dtypes

Country name                  object
RANK                           int64
Happiness score              float64
GDP per capita               float64
Healthy life expectancy      float64
Freedom                      float64
Perceptions of corruption    float64
Generosity                   float64
year                           int64
dtype: object

In [ ]:
# Create a list of categorical variables 
categorical_variables = list(happiness_df.dtypes[happiness_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['Country name']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Encode categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(happiness_df[categorical_variables])

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
# Get the categories of each categorical variable
categories = [enc.categories_[i] for i in range(len(categorical_variables))]

# Create a list of column names based on the input variables and categories
column_names = []
for i, variable in enumerate(categorical_variables):
    for category in categories[i]:
        column_names.append(f"{variable}_{category}")

# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=column_names)

# Display the DataFrame
encoded_df.head()

,Country name_Afghanistan,Country name_Albania,Country name_Algeria,Country name_Angola,Country name_Argentina,Country name_Armenia,Country name_Australia,Country name_Austria,Country name_Azerbaijan,Country name_Bahrain,...,Country name_United Arab Emirates,Country name_United Kingdom,Country name_United States,Country name_Uruguay,Country name_Uzbekistan,Country name_Venezuela,Country name_Vietnam,Country name_Yemen,Country name_Zambia,Country name_Zimbabwe
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = happiness_df.drop(columns=categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015

In [ ]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
happiness_processed_df = pd.concat([numerical_variables_df,encoded_df],axis=1)

# Reveiw the DataFrame
happiness_processed_df.head()

,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year,Country name_Afghanistan,Country name_Albania,...,Country name_United Arab Emirates,Country name_United Kingdom,Country name_United States,Country name_Uruguay,Country name_Uzbekistan,Country name_Venezuela,Country name_Vietnam,Country name_Yemen,Country name_Zambia,Country name_Zimbabwe
0,1.0,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Modeling using XGBoost

In [ ]:
# Define the target set y using the Attrition_Yes column
y = happiness_processed_df['Happiness score']

# Display a sample of y
y[:5]

0    7.587
1    7.561
2    7.527
3    7.522
4    7.427
Name: Happiness score, dtype: float64

In [ ]:
# Define features set X by selecting all columns except 'Happiness score'
X = happiness_processed_df.drop(columns=['Happiness score','year'])

# Review the features DataFrame
X.head()

,RANK,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,Country name_Afghanistan,Country name_Albania,Country name_Algeria,Country name_Angola,...,Country name_United Arab Emirates,Country name_United Kingdom,Country name_United States,Country name_Uruguay,Country name_Uzbekistan,Country name_Venezuela,Country name_Vietnam,Country name_Yemen,Country name_Zambia,Country name_Zimbabwe
0,1.0,1.39651,0.94143,0.66557,0.41978,0.29678,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,1.30232,0.94784,0.62877,0.14145,0.43630,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,1.32548,0.87464,0.64938,0.48357,0.34139,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,1.45900,0.88521,0.66973,0.36503,0.34699,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,1.32629,0.90563,0.63297,0.32957,0.45811,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Split the data into training and testing sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Define the regression model and fit to the training data keichan
happiness_model = XGBRegressor()

In [ ]:
# Check if there is nan value
print(X_train.isna().sum())

RANK                         1
GDP per capita               1
Healthy life expectancy      1
Freedom                      1
Perceptions of corruption    1
                            ..
Country name_Venezuela       1
Country name_Vietnam         1
Country name_Yemen           1
Country name_Zambia          1
Country name_Zimbabwe        1
Length: 178, dtype: int64

In [ ]:
# Drop nan value
X_train.dropna()

,RANK,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year,Country name_Afghanistan,Country name_Albania,Country name_Algeria,...,Country name_United Arab Emirates,Country name_United Kingdom,Country name_United States,Country name_Uruguay,Country name_Uzbekistan,Country name_Venezuela,Country name_Vietnam,Country name_Yemen,Country name_Zambia,Country name_Zimbabwe
599,130.0,0.682000,0.429000,0.580000,0.178000,0.598000,2018.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
850,69.0,0.918395,0.813928,0.305366,0.001172,0.264005,2020.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
215,57.0,1.359480,0.886450,0.251680,0.077160,0.188240,2016.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602,133.0,0.721000,0.485000,0.539000,0.093000,0.172000,2018.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515,46.0,1.016000,0.707000,0.637000,0.029000,0.364000,2018.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,16.0,1.487923,0.798951,0.562511,0.276732,0.336269,2017.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
466,152.0,0.777153,0.500533,0.081539,0.151347,0.493664,2017.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121,122.0,0.190730,0.440550,0.434500,0.150480,0.243250,2015.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1045,111.0,0.910000,0.381000,0.302000,0.041000,0.153000,2021.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
861,80.0,1.021914,0.615627,0.451354,0.172258,0.142758,2020.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Fit to the training data
happiness_model.fit(X_train, y_train)

XGBoostError: ignored

In [ ]:
# Define the feature and target variables
X = happiness_df[['GDP per capita', 'Healthy life expectancy', 'Freedom', 'Perceptions of corruption', 'Generosity','year']]
y = happiness_df['Happiness score']

In [ ]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Define the linear regression model and fit to the training data
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [ ]:
# Evaluate the performance of the model on the testing data
y_pred = lr_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [ ]:
print('Mean squared error:', mse)
print('R-squared:', r2)

# Use the model to predict happiness score for new data
new_data = pd.DataFrame({'GDP per capita': [1.2], 'Healthy life expectancy': [0.8], 'Freedom': [0.6], 'Perceptions of corruption': [0.1], 'Generosity': [0.2]})
new_pred = lr_model.predict(new_data)
print('Predicted happiness score:', new_pred)

Mean squared error: 0.3459504199595668
R-squared: 0.7072327205963149

ValueError: ignored