In [1]:
#Imports
import pandas as pd
import numpy as np

In [3]:
# Load data from year 2015 to 2022 individually
from google.colab import files
uploaded = files.upload()

Saving 2015.csv to 2015.csv
Saving 2016.csv to 2016.csv
Saving 2017.csv to 2017.csv
Saving 2018.csv to 2018.csv
Saving 2019.csv to 2019.csv
Saving 2020.csv to 2020.csv

In [4]:
# Create dataframe from year 2015 to 2021
happiness_2015_df = pd.read_csv('2015.csv')
happiness_2016_df = pd.read_csv('2016.csv')
happiness_2017_df = pd.read_csv('2017.csv')
happiness_2018_df = pd.read_csv('2018.csv')
happiness_2019_df = pd.read_csv('2019.csv')
happiness_2020_df = pd.read_csv('2020.csv')
happiness_2021_df = pd.read_csv('2021.csv')

In [5]:
# Add column 'year' to each dataframe
happiness_2015_df['year'] = '2015'
happiness_2016_df['year'] = '2016'
happiness_2017_df['year'] = '2017'
happiness_2018_df['year'] = '2018'
happiness_2019_df['year'] = '2019'
happiness_2020_df['year'] = '2020'
happiness_2021_df['year'] = '2021'

In [6]:
# Check all dataframes
display(happiness_2015_df.head(2))
display(happiness_2016_df.head(2))
display(happiness_2017_df.head(2))
display(happiness_2018_df.head(2))
display(happiness_2019_df.head(2))
display(happiness_2020_df.head(2))
display(happiness_2021_df.head(2))

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,year
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,...,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,2020
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,...,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2020

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,year
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,...,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253,2021
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,...,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2021

In [7]:
# Data cleaning
# === Year 2015 ===
# Drop columns
happiness_2015_df = happiness_2015_df.drop(['Region','Standard Error','Dystopia Residual','Family'],axis=1)

# Rename column name
happiness_2015_df = happiness_2015_df.rename(columns={'Country':'Country name' ,'Happiness Rank': 'RANK', 'Happiness Score':'Happiness score','Economy (GDP per Capita)':'GDP per capita','Trust (Government Corruption)':'Perceptions of corruption',
                                                      'Health (Life Expectancy)':'Healthy life expectancy'})

# === Year 2016 ===
# Drop columns
happiness_2016_df = happiness_2016_df.drop(['Region','Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual','Family'],axis=1)

# Rename column name
happiness_2016_df = happiness_2016_df.rename(columns={'Country':'Country name', 'Happiness Rank': 'RANK', 'Happiness.Score':'Happiness score','Economy (GDP per Capita)':'GDP per capita','Trust (Government Corruption)':'Perceptions of corruption',
                                                      'Health (Life Expectancy)':'Healthy life expectancy','Happiness Score':'Happiness score'})


# === Year 2017 ===
# Drop columns
happiness_2017_df = happiness_2017_df.drop(['Whisker.high','Whisker.low','Dystopia.Residual','Family'],axis=1)

# Rename column name
happiness_2017_df = happiness_2017_df.rename(columns={'Country':'Country name','Happiness.Rank': 'RANK', 'Happiness.Score':'Happiness score','Economy..GDP.per.Capita.':'GDP per capita','Health..Life.Expectancy.':'Healthy life expectancy',
                                                      'Trust..Government.Corruption.':'Perceptions of corruption'})


# === Year 2018 ===
# Drop columns
happiness_2018_df = happiness_2018_df.drop(['Social support'],axis=1)

# Rename column name
happiness_2018_df = happiness_2018_df.rename(columns={'Overall rank': 'RANK', 'Country or region':'Country name','Score':'Happiness score','Freedom to make life choices':'Freedom'})

# === Year 2019 ===
# Drop columns
happiness_2019_df = happiness_2019_df.drop(['Social support'],axis=1)

# Rename column name
happiness_2019_df = happiness_2019_df.rename(columns={'Overall rank': 'RANK', 'Country or region':'Country name','Score':'Happiness score','Freedom to make life choices':'Freedom'})


# === Year 2020 ===
# Add rank
happiness_2020_df.insert(0, 'RANK',happiness_2020_df.index + 1)

# Drop columns
happiness_2020_df = happiness_2020_df.drop(['Regional indicator','Logged GDP per capita','upperwhisker','lowerwhisker','Healthy life expectancy','Standard error of ladder score','Freedom to make life choices','Dystopia + residual',
                                            'Explained by: Social support','Ladder score in Dystopia','Generosity','Perceptions of corruption','Social support'],axis=1)

# Rename column name
happiness_2020_df = happiness_2020_df.rename(columns={'Ladder score':'Happiness score','Explained by: Generosity':'Generosity','Explained by: Freedom to make life choices':'Freedom','Explained by: Perceptions of corruption':'Perceptions of corruption',
                                                      'Explained by: Log GDP per capita':'GDP per capita','Explained by: Healthy life expectancy':'Healthy life expectancy',})

# === Year 2021 ===
# Add rank 
#happiness_2021_df['RANK'] = happiness_2021_df.index + 1
happiness_2021_df.insert(0, 'RANK',happiness_2021_df.index + 1)

# Drop columns
happiness_2021_df = happiness_2021_df.drop(['Regional indicator','upperwhisker','lowerwhisker','Logged GDP per capita','Healthy life expectancy','Standard error of ladder score','Freedom to make life choices','Dystopia + residual',
                                            'Explained by: Social support','Ladder score in Dystopia','Generosity','Perceptions of corruption','Social support'],axis=1)

# Rename column name
happiness_2021_df = happiness_2021_df.rename(columns={'Country or region': 'Country name', 'Ladder score':'Happiness score', 'Explained by: Generosity':'Generosity','Explained by: Freedom to make life choices':'Freedom',
                                                      'Logged GDP per capita':'GDP per capita','Explained by: Perceptions of corruption':'Perceptions of corruption','Explained by: Log GDP per capita':'GDP per capita',
                                                      'Explained by: Healthy life expectancy':'Healthy life expectancy',})

In [8]:
# Check all dataframes after data cleaning
display(happiness_2015_df.head(2))
display(happiness_2016_df.head(2))
display(happiness_2017_df.head(2))
display(happiness_2018_df.head(2))
display(happiness_2019_df.head(2))
display(happiness_2020_df.head(2))
display(happiness_2021_df.head(2))

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,Denmark,1,7.526,1.44178,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,0.86303,0.58557,0.41203,0.28083,2016

,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,Norway,1,7.537,1.616463,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,0.792566,0.626007,0.355280,0.400770,2017

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,0.861,0.686,0.286,0.340,2018

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,0.996,0.592,0.252,0.410,2019

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.8087,1.285190,0.961271,0.662317,0.159670,0.477857,2020
1,2,Denmark,7.6456,1.326949,0.979333,0.665040,0.242793,0.495260,2020

,RANK,Country name,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,year
0,1,Finland,7.842,1.446,0.741,0.691,0.124,0.481,2021
1,2,Denmark,7.620,1.502,0.763,0.686,0.208,0.485,2021

In [9]:
# Concatinate all dataframe
happiness_df = pd.concat([happiness_2015_df,happiness_2016_df,happiness_2017_df,happiness_2018_df,happiness_2019_df,happiness_2020_df,happiness_2021_df], axis=0)

# Reset index
happiness_df = happiness_df.reset_index()

In [10]:
# Confirm dataframe
display(happiness_df.head())
display(happiness_df.tail())

,index,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015

,index,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
1079,144,Lesotho,145,3.512,0.451,0.007,0.405,0.015,0.103,2021
1080,145,Botswana,146,3.467,1.099,0.340,0.539,0.088,0.027,2021
1081,146,Rwanda,147,3.415,0.364,0.407,0.627,0.493,0.227,2021
1082,147,Zimbabwe,148,3.145,0.457,0.243,0.359,0.075,0.157,2021
1083,148,Afghanistan,149,2.523,0.370,0.126,0.000,0.010,0.122,2021

In [14]:
# Drop rows that have no data
happiness_df.dropna()

,index,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...
1079,144,Lesotho,145,3.512,0.45100,0.00700,0.40500,0.01500,0.10300,2021
1080,145,Botswana,146,3.467,1.09900,0.34000,0.53900,0.08800,0.02700,2021
1081,146,Rwanda,147,3.415,0.36400,0.40700,0.62700,0.49300,0.22700,2021
1082,147,Zimbabwe,148,3.145,0.45700,0.24300,0.35900,0.07500,0.15700,2021
1083,148,Afghanistan,149,2.523,0.37000,0.12600,0.00000,0.01000,0.12200,2021

# Prepare for a model

In [15]:
# Import libraries
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [19]:
# Check if there is null value
print(happiness_df.isnull().sum())
print(happiness_df.isna().sum())

index                        0
Country name                 0
RANK                         0
Happiness score              0
GDP per capita               0
Healthy life expectancy      0
Freedom                      0
Perceptions of corruption    1
Generosity                   0
year                         0
dtype: int64
index                        0
Country name                 0
RANK                         0
Happiness score              0
GDP per capita               0
Healthy life expectancy      0
Freedom                      0
Perceptions of corruption    1
Generosity                   0
year                         0
dtype: int64

In [21]:
# Look for the specific record that has no value
mask = happiness_df.isnull()

print(happiness_df[mask.any(axis=1)])

     index          Country name  RANK  Happiness score  GDP per capita  \
489     19  United Arab Emirates    20            6.774           2.096

     Healthy life expectancy  Freedom  Perceptions of corruption  Generosity  \
489                     0.67    0.284                        NaN       0.186

     year
489  2018

In [26]:
# Print the record whose index is 489
print(happiness_df.loc[489])

index                                          19
Country name                 United Arab Emirates
RANK                                           20
Happiness score                             6.774
GDP per capita                              2.096
Healthy life expectancy                      0.67
Freedom                                     0.284
Perceptions of corruption                     NaN
Generosity                                  0.186
year                                         2018
Name: 489, dtype: object

In [32]:
# Drop record with index 489
happiness_df = happiness_df.drop(489)

In [34]:
# Reset index
happiness_df.reset_index()

,level_0,index,Country name,RANK,Happiness score,GDP per capita,Healthy life expectancy,Freedom,Perceptions of corruption,Generosity,year
0,0,0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,1,1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,2,2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,3,3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,4,4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...,...
1078,1079,144,Lesotho,145,3.512,0.45100,0.00700,0.40500,0.01500,0.10300,2021
1079,1080,145,Botswana,146,3.467,1.09900,0.34000,0.53900,0.08800,0.02700,2021
1080,1081,146,Rwanda,147,3.415,0.36400,0.40700,0.62700,0.49300,0.22700,2021
1081,1082,147,Zimbabwe,148,3.145,0.45700,0.24300,0.35900,0.07500,0.15700,2021
1082,1083,148,Afghanistan,149,2.523,0.37000,0.12600,0.00000,0.01000,0.12200,2021

In [35]:
# Define the feature and target variables
X = happiness_df[['GDP per capita', 'Healthy life expectancy', 'Freedom', 'Perceptions of corruption', 'Generosity']]
y = happiness_df['Happiness score']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the linear regression model and fit to the training data
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

# Evaluate the performance of the model on the testing data
y_pred = lr_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print('Mean squared error:', mse)
print('R-squared:', r2)

# Use the model to predict happiness score for new data
new_data = pd.DataFrame({'GDP per capita': [1.2], 'Healthy life expectancy': [0.8], 'Freedom': [0.6], 'Perceptions of corruption': [0.1], 'Generosity': [0.2]})
new_pred = lr_model.predict(new_data)
print('Predicted happiness score:', new_pred)

Mean squared error: 0.3463651561502107
R-squared: 0.7068817420190401
Predicted happiness score: [6.31837382]