In [2]:
#Imports
import pandas as pd
import numpy as np

In [1]:
# Load data
from google.colab import files
uploaded = files.upload()

Saving 2022.csv to 2022.csv

In [4]:
happyness_2022_df = pd.read_csv('2022.csv')

In [5]:
happyness_2022_df.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [10]:
happyness_2022_df.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')

In [15]:
happyness_2022_sortedbygdp_df = happyness_2022_df.sort_values(by=['Explained by: GDP per capita'], ascending=False)

happyness_2022_sortedbygdp_df.head(30)

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
5,6,Luxembourg*,"7,404","7,501","7,307","2,042","2,209","1,155","0,790","0,700","0,120","0,388"
26,27,Singapore,"6,480","6,569","6,392","0,932","2,149","1,127","0,851","0,672","0,163","0,587"
12,13,Ireland,"7,041","7,121","6,961","1,743","2,129","1,166","0,779","0,627","0,190","0,408"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
23,24,United Arab Emirates,"6,576","6,660","6,492","1,809","1,998","0,980","0,633","0,702","0,204","0,250"
7,8,Norway,"7,365","7,440","7,290","1,925","1,997","1,239","0,786","0,728","0,217","0,474"
15,16,United States,"6,977","7,065","6,888","2,214","1,982","1,182","0,628","0,574","0,220","0,177"
80,81,Hong Kong S.A.R. of China,"5,425","5,501","5,348","0,642","1,957","0,954","0,942","0,400","0,147","0,383"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
10,11,Austria,"7,163","7,237","7,089","2,148","1,931","1,165","0,774","0,623","0,193","0,329"
13,14,Germany,"7,034","7,122","6,947","2,142","1,924","1,088","0,776","0,585","0,163","0,358"
6,7,Sweden,"7,384","7,454","7,315","2,003","1,920","1,204","0,803","0,724","0,218","0,512"
18,19,Belgium,"6,805","6,890","6,720","2,283","1,907","1,106","0,764","0,492","0,049","0,204"
49,50,Kuwait*,"6,106","6,235","5,977","1,621","1,904","0,983","0,747","0,617","0,087","0,147"
11,12,Australia,"7,162","7,244","7,081","2,011","1,900","1,203","0,772","0,676","0,258","0,341"
25,26,Taiwan Province of China,"6,512","6,596","6,429","2,002","1,897","1,095","0,733","0,542","0,075","0,168"
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
14,15,Canada,"7,025","7,107","6,943","1,924","1,886","1,188","0,783","0,659","0,217","0,368"
24,25,Saudi Arabia,"6,523","6,637","6,409","2,075","1,870","1,092","0,577","0,651","0,078","0,180"
16,17,United Kingdom,"6,943","7,018","6,867","1,967","1,867","1,143","0,750","0,597","0,289","0,329"
19,20,France,"6,687","6,758","6,615","1,895","1,863","1,219","0,808","0,567","0,070","0,266"
20,21,Bahrain,"6,647","6,779","6,514","2,092","1,854","1,029","0,625","0,693","0,199","0,155"
9,10,New Zealand,"7,200","7,279","7,120","1,954","1,852","1,235","0,752","0,680","0,245","0,483"
58,59,South Korea,"5,935","6,021","5,849","1,656","1,851","0,886","0,841","0,414","0,111","0,176"
32,33,Malta,"6,447","6,535","6,359","1,631","1,838","1,169","0,789","0,679","0,174","0,166"
53,54,Japan,"6,039","6,119","5,959","1,487","1,835","1,089","0,866","0,537","0,007","0,218"
30,31,Italy,"6,467","6,570","6,363","2,222","1,834","1,052","0,801","0,412","0,085","0,059"
8,9,Israel,"7,364","7,426","7,301","2,634","1,826","1,221","0,818","0,568","0,155","0,143"